---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Filosofia from '~/components/widgets/Filosofia.astro';
import SesionCategorias from '~/components/widgets/SesionCategorias.astro';
import Curso from '~/components/widgets/Curso.astro';
// import Steps from '~/components/widgets/Steps.astro';
// import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
// import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Get template', href: 'https://github.com/onwidget/astrowind', icon: 'tabler:download' }}
    callToAction2={{ text: 'Learn more', href: '#features' }}
  >
    <Fragment slot="title">
      BIENVENIDOS A LA MAGIA DE LOS SISTEMAS AUTOORGANIZADOS
    </Fragment>
  </Hero>

  <!-- Filosofía de la página ******************* -->

  <Filosofia />

  <!-- Filosofía de la página *************** -->

  <SesionCategorias
    title="Categorías"
    items={[
      [
        {
          title: 'socio-politicos',
          description:
            'El desarrollo en proyectos destinados a transmitir e incrementar el conocimiento, priorización al modelo de paz, realización personal y felicidad como nuevo contrato social ...Ver más ',
          icon: 'tabler:brand-tailwind',
        },
        {
          title: 'Socio-Económicos',
          description:
            'Hay un imperativo ético y otro económico, El imperativo económico es la capacidad del adolescente de ganarse la vida a la edad de 18 años, desempeñando un trabajo útil y bien remunerado...ver más ',
          icon: 'tabler:components',
        },
        {
          title: 'Ciencia y Sociedad',
          description:
            'La magia como la autoorganización, nos sorprende en todo momento con cosas inesperadas. Aquella mediante métodos ocultos, y ésta mediante la sincronía que da origen a un nuevo sistema, con su respectivos orden, estructura y función...ver más ',
          icon: 'tabler:rocket',
        },
      ],
      [
        {
          title: 'Didáctica: Formación Y Educación',
          description:
            'La reivindicación de los derechos de la niñez o el regreso al paraíso terrenal; La Familiaridad como Fundamento de la Identidad Nacional... Ver más',
          icon: 'tabler:list-check',
        },
        {
          title: 'Antivirales',
          description:
            '10 cosas que debe saber sobre como tratar las pandemias “La enfermedad no ataca a quien no le teme»; Nanovacuna Antiviral Bioenergética La Inmunidad obtenida de la Sinergia de las Medicinas Ancestrales Antipandémicas... ver más',
          icon: 'tabler:arrows-right-left',
        }
      ],
    ]}
  />

  <Curso
    title="La magía de los sistemas Auto organizados"
    subtitle="Descripción del Curso"
    highlight="Curso"
    items={[
      {
        title: 'Contenido 1',
        description:
          'Descripción del contenido 1',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Contenido 2',
        description:
          'Descripción del contenido 2',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Contenido 3',
        description:
          'Descripción del contenido 3',
        icon: 'flat-color-icons:todo-list',
      },
      {
        title: 'Contenido 4',
        description:
          'Descripción del contenido 4',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Contenido 5',
        description:
          'Descripción del contenido 5',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Contenido 6',
        description:
          'Descripción del contenido 6',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Contenido 7',
        description:
          'Descripción del contenido 7',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contenido 8',
        description:
          'Descripción del contenido 9',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Contenido 9',
        description:
          'Descripción del contenido 9',
        icon: 'icon-park:page-template',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="Publiaciones constantes, de nuestro pensamiento."
    information={`
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Frequently Asked Questions"
    subtitle="Duis turpis dui, fringilla mattis sem nec, fringilla euismod neque. Morbi tincidunt lacus nec tortor scelerisque pulvinar."
    highlight="FAQs"
    items={[
      [
        {
          question: 'What do I need to start?',
          answer:
            'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
        },
        {
          question: 'How to install the Astro + Tailwind CSS template?',
          answer:
            "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.",
        },
        {
          question: "What's something that you don't understand?",
          answer:
            "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
        },
      ],
      [
        {
          question: "What's an example of when you changed your mind?",
          answer:
            "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
        },
        {
          question: 'What is something that you would like to try again?',
          answer:
            "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
        },
        {
          question: 'If you could only ask one question to each person you meet, what would that question be?',
          answer:
            "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
        },
      ],
    ]}
  /> -->

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    items={[
      { name: 'Downloads', value: '132K' },
      { name: 'Stars', value: '24.8K' },
      { name: 'Forks', value: '10.3K' },
      { name: 'Users', value: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    callToAction={{
      text: 'Get template',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">
      Astro + <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction> -->
</Layout>
