---
import { SITE,  } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import SesionInicial from '~/components/widgets/SesionInicial.astro';
import Filosofia from '~/components/widgets/Filosofia.astro';
import SesionCategorias from '~/components/widgets/SesionCategorias.astro';
// Curso:
// import Curso from '~/components/widgets/Curso.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
// import BlogList from '~/components/blog/List.astro';
// import { fetchPosts } from '~/utils/blog';
// import { BLOG_BASE } from '~/utils/permalinks';

// export async function getStaticPaths({ paginate }) {
//   if (BLOG?.disabled || BLOG?.list?.disabled) return [];
//   return paginate(await fetchPosts(), {
//     params: { blog: BLOG_BASE || undefined },
//     pageSize: BLOG.postsPerPage,
//   });
// }

// const { page } = Astro.props;
const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};


---
<style>
  .bienvenidos {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
    --tw-gradient-from: #2048ca;
    --tw-gradient-to: rgb(99 102 241 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: rgb(217 70 239 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), #d1437c, var(--tw-gradient-to);
    --tw-gradient-to: #861e76;
}
</style>

<Layout {meta}>
  <!-- El menú y los links de menú están en el archivo data.js este archivo está por fuera del src -->

  <!-- Sesión Inicial ******************* -->

  <SesionInicial 
    callToAction={{ text: 'Get template', href: 'https://github.com/onwidget/astrowind', icon: 'tabler:download' }}
    callToAction2={{ text: 'Learn more', href: '#features' }}
  >
    <!-- Titulo de Bienvenida ******************* -->
    <Fragment slot="title" >
    <div class="mt-5">
    <span class="bienvenidos">BIENVENIDOS</span> A LA MAGIA DE LOS SISTEMAS AUTOORGANIZADOS
  </div>  
    </Fragment>
    <!-- Titulo de Bienvenida ******************* -->
  </SesionInicial>

  <!-- Sesión Inicial ******************* -->

  <!-- Filosofía de la página ******************* -->
  <Filosofia />
  <!-- Filosofía de la página *************** -->

  <!-- Sesión de categorias ******************* -->
  <SesionCategorias
    title="Categorías"
    items={[
      [
        {
          title: 'socio-políticos y económicos',
          description:
            ' ',
          icon: 'tabler:brand-tailwind',
          link:'/blog',
        },
      //   {
      //     title: 'Ciencia y Sociedad',
      //     description:
      //       'La magia como la autoorganización, nos sorprende en todo momento con cosas inesperadas. Aquella mediante métodos ocultos, y ésta mediante la sincronía que da origen a un nuevo sistema, con su respectivos orden, estructura y función...ver más ',
      //     icon: 'tabler:rocket',
      //     link:'/blog',
      //   },
      ],
      [
      //   {
      //     title: 'Didáctica: Formación Y Educación',
      //     description:
      //       'La reivindicación de los derechos de la niñez o el regreso al paraíso terrenal; La Familiaridad como Fundamento de la Identidad Nacional... Ver más',
      //     icon: 'tabler:list-check',
      //     link:'/tag/astro',
      //   },
      //   {
      //     title: 'Antivirales',
      //     description:
      //       '10 cosas que debe saber sobre como tratar las pandemias “La enfermedad no ataca a quien no le teme»; Nanovacuna Antiviral Bioenergética La Inmunidad obtenida de la Sinergia de las Medicinas Ancestrales Antipandémicas... ver más',
      //     icon: 'tabler:arrows-right-left',
      //     link:'/tag/astro',
      //   },
        {
          title: 'Temática libre',
          description:
            'Encuentra más publicaciones en diversidad de temas... ver más',
          icon: 'tabler:arrows-right',
          link:'/tag/tematicalibre',
        }
      ],
    ]}
  />
<!-- Sesión de categorias ******************* -->

<!-- Sesión del Curso ******************* -->
  <!-- <Curso
    title="La magía de los sistemas Auto organizados"
    subtitle="Descripción del Curso"
    highlight="Curso"
    items={[
      {
        title: 'Contenido 1',
        description:
          'Descripción del contenido 1',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Contenido 2',
        description:
          'Descripción del contenido 2',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Contenido 3',
        description:
          'Descripción del contenido 3',
        icon: 'flat-color-icons:todo-list',
      },
      {
        title: 'Contenido 4',
        description:
          'Descripción del contenido 4',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Contenido 5',
        description:
          'Descripción del contenido 5',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Contenido 6',
        description:
          'Descripción del contenido 6',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Contenido 7',
        description:
          'Descripción del contenido 7',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contenido 8',
        description:
          'Descripción del contenido 9',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Contenido 9',
        description:
          'Descripción del contenido 9',
        icon: 'icon-park:page-template',
      },
    ]}
  /> -->

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogList posts={page.data} /> -->

  <LatestPosts
    title="Publiaciones constantes, de nuestro pensamiento."
    information={`
		`}
    postIds={[
      'astrowind-template-in-depth.md',
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      
    ]}
  />
</Layout>
