---
import Layout from '~/layouts/PageLayout.astro';
import { Picture } from '@astrojs/image/components';

const meta = {
  title: 'libro el poder y el antipoder',
  description: 'Libro para debatir y llegar a la verdad',
  ogType: 'article',
  dontUseTitleTemplate: true,
};
---
    <style>
        .imagenesLibro{
            display: flex;
            justify-content: space-around;
            text-align: center;
            flex-wrap: wrap;
        }
    </style>
    <Layout {meta}>
        <div class="imagenesLibro">
            
            <div class="flex items-center justify-center w-80">
                <div class="w-full p-4">
                    <div class="flex flex-col justify-center p-10 bg-white rounded-lg shadow-2xl card">
                        <div class="prod-title">
                            <p class="text-2xl font-bold text-gray-900 uppercase">
                                Puma Shoes
                            </p>
                            <p class="text-sm text-gray-400 uppercase">
                                The best shoes in the marketplace
                            </p>
                        </div>
                        <div class="prod-img">
                            <img src="/images/object/4.jpg" class="object-cover object-center w-full"/>
                        </div>
                        <div class="grid gap-10 prod-info">
                            <div>
                                <ul class="flex flex-row items-center justify-center">
                                    <li class="mr-4 last:mr-0">
                                        <span class="block p-1 transition duration-300 ease-in border-2 border-gray-500 rounded-full">
                                            <a href="#blue" class="block w-6 h-6 bg-blue-900 rounded-full">
                                            </a>
                                        </span>
                                    </li>
                                    <li class="mr-4 last:mr-0">
                                        <span class="block p-1 transition duration-300 ease-in border-2 border-white rounded-full hover:border-gray-500">
                                            <a href="#yellow" class="block w-6 h-6 bg-yellow-500 rounded-full">
                                            </a>
                                        </span>
                                    </li>
                                    <li class="mr-4 last:mr-0">
                                        <span class="block p-1 transition duration-300 ease-in border-2 border-white rounded-full hover:border-gray-500">
                                            <a href="#red" class="block w-6 h-6 bg-red-500 rounded-full">
                                            </a>
                                        </span>
                                    </li>
                                    <li class="mr-4 last:mr-0">
                                        <span class="block p-1 transition duration-300 ease-in border-2 border-white rounded-full hover:border-gray-500">
                                            <a href="#green" class="block w-6 h-6 bg-green-500 rounded-full">
                                            </a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="flex flex-col items-center justify-content text-gray-900 md:flex-row">
                                <button class="px-8 py-2 uppercase transition duration-200 ease-in border-2 border-gray-900 rounded-full hover:bg-gray-800 hover:text-white focus:outline-none">
                                    Solicitar libro
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
</Layout>
