---
import Layout from '~/layouts/PageLayout.astro';
import { Picture } from '@astrojs/image/components';

const meta = {
  title: 'libro el poder y el antipoder',
  description: 'Libro para debatir y llegar a la verdad',
  ogType: 'article',
  dontUseTitleTemplate: true,
};
---
    <style>
        .imagenesLibro{
            display: flex;
            justify-content: space-around;
            text-align: center;
            flex-wrap: wrap;
        }
    </style>
    <Layout {meta}>
        <div class="imagenesLibro">
            <Picture
                src={'https://res.cloudinary.com/djciwvvsd/image/upload/v1683757643/Sistemas%20AutoOrganizados/libro1_fk0h4z.jpg'}
                class="max-w-full lg:max-w-6xl mx-auto mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700"
                widths={[400, 900]}
                sizes="(max-width: 400px) 400px, 400px"
                alt={'imagen libro del poder y el antipoder'}
                loading="eager"
                aspectRatio={4 / 4}
                width={400}
                height={400}
                loading="eager"
                decoding="async"
                background={undefined}
              />
              <Picture
              src={'https://res.cloudinary.com/djciwvvsd/image/upload/v1683758107/Sistemas%20AutoOrganizados/libro2_gzianu.jpg'}
              class="max-w-full lg:max-w-6xl mx-auto mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700"
              widths={[400, 900]}
              sizes="(max-width: 400px) 400px, 400px"
              alt={'imagen libro del poder y el antipoder'}
              loading="eager"
              aspectRatio={4 / 4}
              width={400}
              height={400}
              loading="eager"
              decoding="async"
              background={undefined}
              />
              <Picture
              src={'https://res.cloudinary.com/djciwvvsd/image/upload/v1683758107/Sistemas%20AutoOrganizados/libro3_ar1cly.jpg'}
              class="max-w-full lg:max-w-6xl mx-auto mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700"
              widths={[400, 900]}
              sizes="(max-width: 400px) 400px, 400px"
              alt={'imagen libro del poder y el antipoder'}
              loading="eager"
              aspectRatio={4 / 4}
              width={400}
              height={400}
              loading="eager"
              decoding="async"
              background={undefined}
              />
            </div>
</Layout>